<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
    <form action='../dodam_print' method='post'>
    <input type='date' name='userdate'>
    <input type='submit'>
</form>
</body>
</html>