<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>

<body>
    <h3>라벨 저장</h3>
    
    <a href="<%= path %>" class="btn btn-danger" download>Download</a>
</body>

</html>